/*Grid-display*/
.grid-container 
{
	display: grid;
	grid-template-columns: 20% auto 20%;
	grid-gap: 5px;
}
.grid-container > div
{
	border: 1px solid black;
	font-size: 20px;
	text-align: center;
	background-color: rgba(120, 124, 115, 0.836);  
}
#header
{
	grid-column: 1/span 5;
	color: rgb(255, 255, 255);
	background-image: url(https://t3.ftcdn.net/jpg/04/70/78/18/360_F_470781837_uabePPd2gwxzSv7dKhXkbaKWqXKPGy08.jpg);
}
#menu
{
	grid-column: 1/span 1;
	font-size: xx-large;
	text-align: left;
}
#main
{
    grid-column: 2/span 4;
    text-align: left;
}
#footer
{
	grid-column: 1/span 5;
	color: white;
	background-color: black;
}
#bottom
{
    grid-column: 1/span 5;
	color: white;
	background-image: url(https://t3.ftcdn.net/jpg/04/70/78/18/360_F_470781837_uabePPd2gwxzSv7dKhXkbaKWqXKPGy08.jpg);
}
#cinnamon_done1{
	width: 10%;
    margin-left: auto;
    margin-right: auto;
}
#cinnamon_done2{
	width: 10%;
    margin-left: auto;
    margin-right: auto;
}
#cinnamon_done3{
	width: 10%;
    margin-left: auto;
    margin-right: auto;
}
#cinnamon_done4{
	width: 10%;
    margin-left: auto;
    margin-right: auto;
}
#cinnamon_cook{
	width: 10%;
    margin-left: auto;
    margin-right: auto;
}
#cinnamon3{
	width: 33%;
}
#cinnamon4{
	width: 30%;
}
#cinnamon5{
	width: 30%;
}
/*Tablet*/
@media only screen and (max-width: 768px) 
{
	.grid-container 
    {
		display: grid;
		grid-template-columns: auto 20%;
		grid-gap: 10px;		  
	}

	#header
    {
		grid-column: 1/span 3;
		color: white;
	background-image: url(https://t3.ftcdn.net/jpg/04/70/78/18/360_F_470781837_uabePPd2gwxzSv7dKhXkbaKWqXKPGy08.jpg);	
	}
	#menu
    {
		grid-column: 1/span 3;
		font-size: small;
		text-align: left;
	}
	#main
    {
		grid-column: 1/span 3;
	}
	#bottom
    {
		grid-column: 1/span 3;
		color: white;
	background-image: url(https://t3.ftcdn.net/jpg/04/70/78/18/360_F_470781837_uabePPd2gwxzSv7dKhXkbaKWqXKPGy08.jpg);
	}
	#footer
    {
		grid-column: 1/ span 3;
		color: white;
	background-color: black;
	}
}
/*Phone*/
@media only screen and (max-width: 500px) 
{
	
	.grid-container {
		display: grid;
		grid-template-columns: auto 20%;
		grid-gap: 10px;
		  
		  
	}

	#header
	{
		grid-column: 1/span 3;
		color: white;
	background-image: url(https://t3.ftcdn.net/jpg/04/70/78/18/360_F_470781837_uabePPd2gwxzSv7dKhXkbaKWqXKPGy08.jpg);
	}
	#menu
	{
		grid-column: 1/span 3;	
		font-size: small;
	}
	#main
	{
		grid-column: 1/span 3;
	}
	#bottom
	{
		grid-column: 1/span 3;
		color: white;
	background-image: url(https://t3.ftcdn.net/jpg/04/70/78/18/360_F_470781837_uabePPd2gwxzSv7dKhXkbaKWqXKPGy08.jpg);
	}

	#footer
	{
		grid-column: 1/ span 3;
		color: white;
		background-color: black;
	
	}
	#cinnamon_done1
	{
		width: 10%;
		margin-left: auto;
		margin-right: auto;
	}
	#cinnamon_done2
	{
		width: 10%;
		margin-left: auto;
		margin-right: auto;
	}
	#cinnamon_done3
	{
		width: 10%;
		margin-left: auto;
		margin-right: auto;
	}
	#cinnamon_done4
	{
		width: 10%;
		margin-left: auto;
		margin-right: auto;
	}
	
	
}